{% extends "myauth/base.html" %}

{% block middle-content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Вход</h3>
        </div>
        <div class="clear"></div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
{#            <div>#}
{#                <input class="user-input" type="text" name="username" id="name" placeholder="E-mail" />#}
{#            </div>#}
{#            <div>#}
{#                <input type="password" name="password" id="name" placeholder="*********" />#}
{#            </div>#}
            <div>
                <input type="submit" value="Войти" />
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.error }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a class="forgot-label" href="{% url 'myauth:password-retrieval' %}">Забыли пароль?</a>
            <a class="registr" href="{% url 'myauth:register' %}">
                Регистрация
            </a>
        </form>
    </div>
{% endblock %}
